@use "../../styles/global" as g;
@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;
$img: "../../assets/sund-hus2.jpeg";

.contact-container {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  @include m.flex(row);
  picture{
    width: 100%;
    height: 100%;
  }
  .contact-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5);
  }
  .header-container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
    .header {
      font-size: 2rem;
      color: v.$white;
    }
  }
  .content-container {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
    @include m.flex(column);

    .social-media-container {
      @include m.flex(column);
      color: v.$white;
      font-size: 1.2rem;
      .instagram,
      .facebook,
      .youtube {
        @include m.flex(row, flex-start, center);
        width: 100%;
        margin: 0.5rem 0;

        svg {
          font-size: 1.5rem;
          color: v.$white;
          margin-right: 1rem;
        }
      }
    }
    @include m.desk {
      @include m.flex(row, center, flex-end);
      
      .content-left-container {
        width: 100%;
        height: 100%;
      }
      .content-right-container {
        @include m.flex(column);
        height: 100%;
        width: 100%;
      }
      .social-media-container {
        .instagram,
        .facebook,
        .youtube {
          margin: 1rem 0;
        }
      }
    }
  }
  @include m.desk {
    height: 90svh;
  }
}

