@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;
@use "../../styles/global" as g;

.glamping-pictures-container {
    background-color: v.$white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 20rem);
  gap: 1rem;
  width: 100%;
  height: auto;
  padding: 1rem 0;

}