@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;
@use "../../styles/global" as g;

.scroll-container {
  @include m.horScroll;

  .image-container {
    position: relative;
    &.hover-enabled {
      &:hover .horizontal-img {
        filter: brightness(0.6);
      }

      &:hover .overlay-text {
        opacity: 0;
      }

      &:hover .room-text {
        opacity: 1;
      }
    }

    .horizontal-img {
      object-fit: cover;
      height: 25rem;
      width: 12.5rem;
      border-radius: 1rem;
      margin-right: 7px;
    }
    .overlay-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      transition: opacity 0.3s ease;
      z-index: 10;
      pointer-events: auto;
    }

    .overlay-text {
      opacity: 1;
      font-size: 2rem;
    }

    .room-text {
      opacity: 0;
      font-size: 1rem;
    }
  }
}
