@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;
@use "../../styles/global" as g;

@keyframes scroll-horizontal {
    0%{
        left: 0%;
    }
    100%{
        left: -100%;
    }
}
@keyframes scroll-horizontal-sec {
    0%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}

.scroll-container-slider{
    height: 40svh;
    position: relative;
    overflow: hidden;
    background: v.$secondary-col;
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE och Edge

    &::-webkit-scrollbar {
        display: none; // Chrome, Safari och nya Edge
    }
    .carousel-primary{
        top: 5%;
        left: 0%;
        width: 100%;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
    }
    .carousel-secondary{
        top: 5%;
        left: 100%;
        width: 100%;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
    }
    .carousel-primary img{
        height: 38svh;
        width: 17rem;
        margin-left: 5px;
        object-fit: cover;
    }
    .carousel-primary{
        @include m.flex(row, space-around, center);
        animation: scroll-horizontal 40s linear infinite;
    }
    .carousel-secondary{
        animation: scroll-horizontal-sec 40s linear infinite;
    }
}

.carousel-primary:hover,
.carousel-primary:hover~.carousel-secondary{
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}
.carousel-secondary:hover{
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}
.scroll-container-slider:hover>.carousel-primary:not(:hover){
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}
