@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;
@use "../../styles/global" as g;

.room-image-container {
    width: 100%;
    height: 100svh;
    overflow: hidden;
    @include m.flex(row, center, center);
    z-index: 1;
    background-color: v.$secondary-col;
   
    .room-start-image {
      height: 80%;
      width: 85%;
      object-fit: cover;
    }
    .room-start-text-container {
      position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        p{
            font-size: 4rem;
            color: v.$white;
  
        }
    }
    @include m.desk{
        .room-start-image {
            margin-top: 3rem;
            height: 80%;
        }
        .room-start-text-container {
            top: 50%;
        }
    }
  }
.room-page-light-container{
    background-color: v.$secondary-col;
    @include m.flex(column);
}
.slideshow{
    margin-bottom: 3rem;
}

.container {
    background-color: v.$primary-col;

    .content {
        @include m.flex(column,space-between,center);
        padding: 2rem;

        .description-container {
            .description-text {
                color: v.$secondary-col;
                font-size: 1.25rem;
            }
        }

        .icon-container {
            @include m.flex(row,space-between,center);
            width: 100%;
            margin: 2rem 0 2rem 0;

            .i {
                font-size: 1.5rem;
            }

            .kvm-text {
                text-align: center;
            }
        }
    }
}