@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;
@use "../../styles/global" as g;


.container {
    background-color: v.$primary-col;

    .content {
        @include m.flex(column,space-between,center);
        padding: 2rem;

        .description-container {
            .description-text {
                color: v.$secondary-col;
                font-size: 1.25rem;
            }
        }

        .icon-container {
            @include m.flex(row,space-between,center);
            width: 100%;
            margin: 2rem 0 2rem 0;

            .i {
                font-size: 1.5rem;
            }

            .kvm-text {
                text-align: center;
            }
        }
    }
}