@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;
@use "../../styles/global" as g;

.booking-container {
  @include m.flex(column);
  height: 30svh;
  width: 100%;
  background-color: v.$secondary-col;
  @include m.desk{
    height: 40svh;
  }

  .booking-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;

    grid-template-areas:
      "start-date end-date"
      "persons rooms";

    @include m.desk{
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: auto;
      grid-template-areas:
      "start-date end-date persons rooms button";
    }
    @include m.tablet{
      grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      "start-date end-date persons rooms"
      "button button button button";
    }

    .check-line {
      height: 1px;
      width: 9rem;
      margin: 0 10px;
      background: v.$primary-col;
    }
    .react-datepicker__month-container {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); /* För att centrera kalendern */
      z-index: 1000; /* Se till att kalendern ligger över andra element */
      background-color: white; /* Lägg till en bakgrundsfärg */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Skugga för att ge djup */
      padding: 1rem;
      border-radius: 10px; /* För att ge rundade hörn */
    }
    .start-date-container {
      @include m.flex(column);
      grid-area: start-date;
      .check-in-text {
        @include m.flex(row, space-between, center);
        p {
          font-size: 1.5rem;
          margin-right: 10px;
          color: v.$primary-col;
        }
        .calendar-icon {
          font-size: 1.5rem;
          margin-right: 1rem;
          color: v.$primary-col;
        }
      }
    }
    .end-date-container {
      @include m.flex(column);
      grid-area: end-date;
      .check-out-text {
        @include m.flex(row, space-between, center);
        p {
          font-size: 1.5rem;
          margin-right: 10px;

          color: v.$primary-col;
        }

        .calendar-icon {
          font-size: 1.5rem;
          margin-right: 1rem;
          color: v.$primary-col;
        }
      }
    }

    .persons-container {
      @include m.flex(column);
      grid-area: persons;
      margin-top: 0.5rem;
      @include m.desk{
        margin-top: 0;
      }

      input {
        font-size: 1.5rem;
        color: v.$primary-col;
        width: 9rem;
        background: v.$secondary-col;
        border: none;
      }
      input::placeholder {
        color: v.$primary-col;
        opacity: 1; /* Firefox */
      }
    }
    .rooms-container {
      @include m.flex(column);
      grid-area: rooms;
      margin-top: 0.5rem;
      @include m.desk{
        margin-top: 0;
      }
      input {
        font-size: 1.5rem;
        color: v.$primary-col;
        width: 9rem;
        background: v.$secondary-col;
        border: none;
      }
      input::placeholder {
        color: v.$primary-col;
        opacity: 1; /* Firefox */
      }
    }
  }
  .search-booking-button-container {
    @include m.flex(row);
    margin-top: 2rem;

    @include m.desk{
      margin-top: 0;
    justify-self: end; // Knappen ligger till höger om det finns plats
    align-self: center;
    }
    @include m.tablet{
      justify-self: center; // Centrerar knappen när den hoppar ner
    grid-column: span 4; // Täcker hela raden
    margin-top: 1rem;
    }
    .search-booking-button {
      height: 4rem;
      width: 12rem;
      @include m.border(1.5px);
      font-size: 1.4rem;
      background: v.$secondary-col;
    }
  }
}
