.circle {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: rgb(189, 46, 46);
    z-index: 1000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Detta gör så att bokstäverna inte går utanför cirkeln */
    
    .circle-content {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  
    .text {
      height: 100%;
      width: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: anim 20s linear infinite;
      
      @keyframes anim {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
  
      span {
        position: absolute;
        left: 50%;
        top: 0;
        font-size: 1.1rem;
        font-weight: 800;
        transform-origin: 0 100px;
        text-align: center;
      } 
    }
    .boka {
        font-weight: 800;
        font-size: 1.5rem;
      }
  }
  