@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;
@use "../../styles/global" as g;

.mat-container {
  background: v.$primary-col;
  @include m.flex(column, center, center);
  width: 100%;
  margin-bottom: 1rem;
  .mat-image-container {
    position: relative;

    .mat-image {
      height: 45svh;
      width: 100svw;
      object-fit: cover;
      object-position: right center;
      border-bottom: 2px solid v.$white;
    }
    .mat-image-text-container {
      position: absolute;
      top: 73%;
      left: 40%;
      transform: translateX(-50%);
      text-align: center;
      width: 100%;
      background: transparent;

      p {
        font-size: 2.5rem;
        color: v.$white;
      }
    }
  }
}
.spacing-container {
  height: 2svh;
}

