@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;
@use "../../styles/global" as g;

.rummen-container {
  background: v.$primary-col;
  @include m.flex(column, center, center);
    .homepage-book-container{
        text-align: left;
        width: 100%;
        margin: 2svh;
        @include m.flex(column, center, center);
        .rummen-book-text-container{
            @include m.flex(row, center, center);
        }
        p{
            
            color: v.$white;
            margin: 0 10px;
            font-size: 1rem;
            font-weight: 100;
            line-height: 2;
        }
    }
}

