@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;
@use "../../styles/global" as g;

.villkor-pic-container {
    width: 100%;
    height: 100svh;
    overflow: hidden;
    @include m.flex(row);
    z-index: 1;
    picture {
      width: 100%;
      height: 100%;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 30% 20%;
    }
    .villkor-header-container {
      position: absolute;
        top:26%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
        @include m.flex(column);
        .villkor-header{
            font-size: 5rem;
            color: v.$white;
            font-family: "Satisfy", serif;
        }
    }
}
.villkor-under-dev{
    width: 100%;
    height: 70svh;
    @include m.flex(row);
    text-align: center;
    p{
        padding: 0 2rem;
        font-size: 2.5rem;
    }
    @include m.desk{
        p{
            font-size: 4rem;
        }
    }
}