@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as v; 
@use "../../../styles/global" as g;

.menu-btn-container{
    @include m.flex(row, center, center);
    width: 100%;
    height: 8svh;
    .menu-btn{
        width: 16rem;
        height: 4.4rem;
        border-radius: 5px;
        font-size: 1.3rem;
        color: black;
        background: v.$white;
        @include m.border(4px, black);
        cursor: pointer;
    }
}