$primary-col: #1C3620;
$secondary-col: #D3E2D5;
$third-col: brown;
$dark-b: #60432F;
$light-b: #876646;
$black: black;
$white: white;
$footer-col: rgb(50, 50, 50);

$picture-text: 3rem;
$sma-text: 0.6rem;
$med-text: 1rem;

$start-desk: 7.5rem;


$primary-font: "Kaisei Decol";

