@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as v; 
@use "../../../styles/global" as g;

.med-btn-container{
    @include m.flex(row, center, center);
    width: 100%;
    height: auto;
    button{
        border-radius: 15px;
        font-weight: bold;
        color: v.$primary-col;
        background: v.$secondary-col;
        @include m.border(5px, v.$primary-col);
        @include m.flex(row, space-evenly, center);
        cursor: pointer;
    }
}

