@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as v; 
@use "../../../styles/global" as g;

.med-btn-container{
    @include m.flex(row, center, center);
    width: 100svw;
    height: 5.5svh;
    button{
        width: 65vw;
        height: 5.5svh;
        border-radius: 15px;
        font-size: 1.3rem;
        font-weight: bold;
        color: v.$dark-b;
        background: v.$white;
        @include m.border(5px, v.$light-b);
        @include m.flex(row, space-evenly, center);
    }
}

