@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as v;
@use "../../../styles/global" as g;

.big-btn-container{
    @include m.flex(row, center, center);
    width: 100svw;
    height: 7svh;
    button{
        width: 65svw;
        height: 8svh;
        border-radius: 20px;
        font-size: 2.2rem;
        font-weight: bold;
        color: v.$dark-b;
        background: v.$white;
        @include m.border(5px, v.$light-b);
    }
}