@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as v;
@use "../../../styles/global" as g;

.icon-box{
    @include m.flex(row, center, center);
    @include m.border(1px, v.$black);
    width: 60px;
    height: 60px;
    border-radius: 10px;
    // color: v.$white;

    i{
        font-size: 2.5rem;
        // color: v.$white;
    }
};

