

.snurr {
  width: 200px;
  height: 200px;
  background-image: url("../../../assets/snurr vit.svg");
  background-size: cover ;
  animation: anim 20s linear infinite;

}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}